<form [formGroup]="addressForm">
    {{addressForm.value|json}}
    <ul>

        <li>
            <h5>Area Name</h5>
            <input type="text" pInputText formControlName="areaName">

            <small class="form-text text-danger" *ngIf="addressForm.controls.areaName.errors">{{addressForm.controls.areaName.errors.required.message}}<br /></small>

        </li>
        <li>
            <h5>City Name</h5>
            <input type="text" pInputText formControlName="cityName">
        </li>
        <li>
            <h5>Country Name</h5>
            <input type="text" pInputText formControlName="countryName">

        </li>


    </ul>
</form>