<form [formGroup]="userForm">


    <h3>
        hobbies
        <button class="btn btn-primary" (click)="addHobby()">Add Hobby</button>
    </h3>
    <div formArrayName="hobbies">
        <div class='container'>
            <div *ngFor="let hobby of hobbies.controls; let i=index">
                <div [formGroupName]="i">
                    <input type="text" formControlName="name" />

                    <button class="btn btn-danger" (click)="removeHobby(i)">Remove</button>
                </div>
            </div>
        </div>
    </div>

</form>