<form [formGroup]="userForm" novalidate>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" formControlName="fullName" />
        <small class="form-text text-danger" *ngIf="userForm.controls.fullName.errors">{{userForm.controls.fullName.errors.required.message}}<br /></small>

    </div>
    <h5>Address:</h5>
    <app-address-form [addressForm]="userForm.controls['address']"></app-address-form>

    <app-hobby-form [userForm]="userForm" (updateHobbies)="updateHobbies()"></app-hobby-form>

</form>